// Extra large devices (large desktops, 1200px and up)
@include mediaXl {
}

// Large devices (desktops, 992px and up)
@include mediaLg {
}

// Medium devices (tablets, 768px and up)
@include mediaMd {
}

// Small devices (landscape phones, 576px and up)
@include mediaSm {
  .header {
    line-height: 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include mediaSx {
  .header {
    line-height: 0;
  }
}

// Show Nav Menu Items (tablets, landscape phones, portrait phones)
@include navMenu {
  nav #menu_icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba($grayColor, 0.4);
    top: 150px;
    left: -100%;
    text-align: center;
    @include transitionEaseInOut(1s);

    &.show {
      left: 0;
    }

    li {
      display: block;
      padding-bottom: 20px;
    }
  }
}
