// Extra large devices (large desktops, 1200px and up)
@include mediaXl {
}

// Large devices (desktops, 992px and up)
@include mediaLg {
}

// Medium devices (tablets, 768px and up)
@include mediaMd {
  .hero_area {
    height: 500px;
    .hero_text {
      h5 {
        font-size: 20px;
      }
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 40px;
      }
    }
    .hero_img {
      .price_tag {
        top: 50%;
        left: 6%;
        width: 100px;
        height: 100px;
        padding: 5px;

        h2 {
          padding: 7px;
          font-size: 30px;

          span {
            font-size: 50%;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include mediaSm {
  .header {
    line-height: 0;
  }

  .hero_area {
    height: 500px;
    .hero_text {
      h5 {
        font-size: 16px;
      }
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 40px;
      }
    }
    .hero_img {
      .price_tag {
        top: 50%;
        left: 6%;
        width: 100px;
        height: 100px;
        padding: 5px;

        h2 {
          padding: 7px;
          font-size: 30px;

          span {
            font-size: 50%;
          }
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include mediaSx {
  .header {
    line-height: 0;
  }

  .hero_area {
    height: 500px;
    .hero_text {
      h5 {
        font-size: 12px;
      }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
      }
    }
    .hero_img {
      .price_tag {
        display: none;
      }
    }
  }
}

// Show Nav Menu Items (tablets, landscape phones, portrait phones)
@include navMenu {
  nav #menu_icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 250px;
    background: rgba($grayColor, 0.7);
    top: 150px;
    left: -100%;
    text-align: center;
    z-index: 99;
    @include transitionEaseInOut(1s);

    &.show {
      left: 0;
    }

    li {
      display: block;
      padding-bottom: 20px;
    }
  }
}
